:root {
  --font-family: "Manrope";
  --content-width: 1680px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --primary: #64607D;
  --secondary: #EC7A24;
  --lightColor: #ffffff;
  --darkColor: #000000;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  position: relative;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
}
.page__body.lock {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--lightColor);
  background-color: var(--secondary);
  border: 1px solid #F0F0F0;
  -webkit-box-shadow: 0px 30px 30px rgba(168, 109, 37, 0.2);
  box-shadow: 0px 30px 30px rgba(168, 109, 37, 0.2);
  border-radius: 8px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
.btn:hover {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--secondary);
}
@media (max-width: 992px) {
  .btn {
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 99;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 10px 0;
  }
}
.header .burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .header .burger {
    display: block;
  }
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1600px) {
  .header__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.header__logo {
  position: relative;
  z-index: 101;
}
@media (max-width: 992px) {
  .header__logo img {
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  .header__logo {
    display: none;
  }
}
@media (max-height: 390px) {
  .header__logo {
    display: none;
  }
}
.header__logo_sm {
  position: relative;
  z-index: 101;
  display: none;
}
@media (max-width: 576px) {
  .header__logo_sm {
    display: block;
  }
  .header__logo_sm img {
    max-width: 80%;
  }
}
@media (max-height: 390px) {
  .header__logo_sm {
    display: block;
  }
  .header__logo_sm img {
    max-width: 80%;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 100;
}
@media (max-width: 1600px) {
  .header__nav {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    background-color: var(--lightColor);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
  }
}
.header__nav.menu--active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.header__btn {
  margin-left: 150px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 992px) {
  .header__btn {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1700px) {
  .header__btn {
    margin-left: 80px;
  }
}
@media (max-width: 1600px) {
  .header__btn {
    position: absolute;
    top: 40px;
    right: 15px;
  }
}
@media (max-width: 768px) {
  .header__btn {
    position: static;
    margin-left: 0;
    margin-top: 20px;
  }
}
.header .nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .header .nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header .nav > ul > li {
  margin-right: 56px;
}
.header .nav > ul > li:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  .header .nav > ul > li {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .header .nav > ul > li {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .header .nav > ul > li:last-child {
    margin-bottom: 0;
  }
}
.header .nav > ul > li > a {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #313131;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header .nav > ul > li > a:hover {
  color: var(--secondary);
}
.header .nav > ul > li > a.active {
  color: var(--secondary);
}
@media (max-width: 992px) {
  .header .nav > ul > li > a {
    font-size: 18px;
  }
}
.header.fixedMenu {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 99;
}
@media (max-width: 768px) {
  .header.fixedMenu {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hero {
  padding-top: 260px;
  padding-bottom: 210px;
  position: relative;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 1400px) {
  .hero {
    padding-top: 220px;
    padding-bottom: 150px;
  }
}
@media (max-width: 992px) {
  .hero {
    padding-top: 180px;
    background: none;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 0;
  }
}
.hero__image {
  position: absolute;
  right: 0;
  bottom: 40px;
}
@media (max-width: 1800px) {
  .hero__image {
    max-width: 60%;
  }
}
@media (max-width: 1200px) {
  .hero__image {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .hero__image {
    position: static;
    max-width: 70%;
    display: block;
    margin: 50px auto;
  }
}
.hero__title {
  margin: 0;
  font-size: 115px;
  line-height: 90%;
  letter-spacing: -0.03em;
  color: #313131;
  max-width: 1020px;
}
@media (max-width: 1800px) {
  .hero__title {
    font-size: 100px;
  }
}
@media (max-width: 1400px) {
  .hero__title {
    font-size: 90px;
    line-height: 110%;
  }
}
@media (max-width: 1200px) {
  .hero__title {
    max-width: 100%;
    font-size: 80px;
  }
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 32px;
  }
}
.hero__title span {
  color: var(--secondary);
}
.hero__descr {
  margin-top: 80px;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  max-width: 740px;
}
@media (max-width: 1800px) {
  .hero__descr {
    max-width: 700px;
  }
}
@media (max-width: 1400px) {
  .hero__descr {
    margin-top: 50px;
    max-width: 600px;
  }
}
@media (max-width: 992px) {
  .hero__descr {
    font-size: 20px;
    margin-top: 30px;
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .hero__descr {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .hero__descr {
    font-size: 17px;
    margin-top: 20px;
  }
}
.hero__btn {
  margin-top: 40px;
  padding-right: 65px;
  padding-left: 65px;
}
@media (max-width: 576px) {
  .hero__btn {
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 30px auto;
  }
}

.clients {
  padding-bottom: 180px;
}
@media (max-width: 992px) {
  .clients {
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .clients {
    padding-bottom: 40px;
  }
}
.clients__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: var(--darkColor);
}
@media (max-width: 992px) {
  .clients__title {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 576px) {
  .clients__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.clients__wrap {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1500px) {
  .clients__wrap {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}
@media (max-width: 992px) {
  .clients__wrap {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (max-width: 576px) {
  .clients__wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
.clients__item {
  -ms-grid-column-align: center;
  justify-self: center;
}
/*# sourceMappingURL=main.css.map */