html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.page {
  position: relative;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  &.lock {
    overflow: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--lightColor);
  background-color: var(--secondary);
  border: 1px solid #F0F0F0;
  box-shadow: 0px 30px 30px rgba(168, 109, 37, 0.2);
  border-radius: 8px;
  transition: all 0.2s ease 0s;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  box-shadow: none;
  &:hover {
    color: var(--primary);
    background-color: var(--lightColor);
    border: 1px solid var(--secondary);
  }
  @media (max-width: 992px) {
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

// .title-sm

.title-sm {
  font-weight: 800;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--darkColor);
  position: relative;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 166px;
    height: 4px;
    background-color: var(--secondary);
    @media (max-width: 576px) {
      width: 80px;
    }
  }
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }
  @media (max-width: 576px) {
    font-size: 24px;
    line-height: 34px;
  }
}

.title-big {
    font-weight: 700;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--darkColor);
    span {
      color: var(--secondary);
    }
    @media (max-width: 1400px) {
      font-size: 75px;
      line-height: 110%;
    }
    @media (max-width: 992px) {
      text-align: center;
      font-size: 60px;
    }
    @media (max-width: 768px) {
      font-size: 50px;
    }
    @media (max-width: 576px) {
      font-size: 30px;
    }
}
