@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


// Header

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 99;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
  @media (max-width: 576px) {
    padding: 10px 0;
  }

  // .header__wrap

  .burger {
    @include burger;
    display: none;
    z-index: 100;
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1600px) {
      flex-wrap: wrap;
    }
    @media (max-width: 768px) {
      flex-wrap: nowrap;
    }
  }

  // .header__logo

  &__logo {
      position: relative;
      z-index: 101;
    @media (max-width: 992px) {
      img {
        max-width: 80%;
      }
    }
    @media (max-width: 576px) {
      display: none;
    }
    @media (max-height: 390px) {
      display: none;
    }
    &_sm {
      position: relative;
      z-index: 101;
      display: none;
      @media (max-width: 576px) {
        display: block;
        img {
          max-width: 80%;
        }
      }
      @media (max-height: 390px) {
        display: block;
        img {
          max-width: 80%;
        }
      }
    }
  }

  // .header__nav

  &__nav {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    z-index: 100;
    @media (max-width: 1600px) {
      width: 100%;
      justify-content: center;
      padding-top: 20px;
    }
    @media (max-width: 768px) {
      position: absolute;
      background-color: var(--lightColor);
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      transform: translateY(-110%);
    }
    &.menu--active {
      transform: translateY(0%);
    }
  }

  // .header__btn

  &__btn {
    margin-left: 150px;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 992px) {
      padding-left: 15px;
      padding-right: 15px;
    }
   @media (max-width: 1700px) {
      margin-left: 80px;
    }
    @media (max-width: 1600px) {
      position: absolute;
      top: 40px;
      right: 15px;
    }
    @media (max-width: 768px) {
      position: static;
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .nav {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      > li {
        margin-right: 56px;
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: 992px) {
          margin-right: 40px;
        }
        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        > a {
          font-weight: 300;
          font-size: 20px;
          line-height: 27px;
          color: #313131;
          transition: all 0.3s ease 0s;
          &:hover {
            color: var(--secondary);
          }
          &.active {
            color: var(--secondary);
          }
          @media (max-width: 992px) {
            font-size: 18px;
          }
        }
      }
    }
    // .nav__list

    &__list {}

    // .nav__item

    &__item {}

    // .nav__link

    &__link {}
  }
  &.fixedMenu {
    box-shadow: 3px 3px 7px rgba(0,0,0,0.1);
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 99;
    @media (max-width: 768px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// Hero section

.hero {
  padding-top: 260px;
  padding-bottom: 210px;
  position: relative;
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (max-width: 1400px) {
    padding-top: 220px;
    padding-bottom: 150px;
  }
  @media (max-width: 992px) {
    padding-top: 180px;
    background: none;
  }
  @media (max-width: 768px) {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  @media (max-width: 576px) {
    padding-top: 100px;
    padding-bottom: 0;
  }
  // .hero__wrap

  &__wrap {

  }

  // .hero__image

  &__image {
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: -1;
    @media (max-width: 1800px) {
      max-width: 60%;
    }
    @media (max-width: 1400px) {
      max-width: 47%;
    }
    @media (max-width: 1200px) {
      max-width: 50%;
    }
    @media (max-width: 768px) {
      position: static;
      max-width: 70%;
      display: block;
      margin: 50px auto;
    }
  }

  // .hero__title

  &__title {
    margin: 0;
    font-size: 115px;
    line-height: 90%;
    letter-spacing: -0.03em;
    color: #313131;
    max-width: 1020px;
    @media (max-width: 1800px) {
      font-size: 100px;
    }
    @media (max-width: 1400px) {
      font-size: 90px;
      line-height: 110%;
    }
    @media (max-width: 1200px) {
      max-width: 100%;
      font-size: 80px;
    }
    @media (max-width: 992px) {
      font-size: 60px;
    }
    @media (max-width: 768px) {
      font-size: 45px;
    }
    @media (max-width: 576px) {
      font-size: 32px;
    }
    span {
      color: var(--secondary);
    }
  }

  // .hero__descr

  &__descr {
    margin-top: 80px;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    max-width: 740px;
    @media (max-width: 1800px) {
      max-width: 700px;
    }
    @media (max-width: 1400px) {
      margin-top: 50px;
      max-width: 600px;
    }
    @media (max-width: 992px) {
      font-size: 20px;
      margin-top: 30px;
      max-width: 500px;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
    @media (max-width: 576px) {
      font-size: 17px;
      margin-top: 20px;
    }
  }

  // .hero__btn

  &__btn {
    margin-top: 40px;
    padding-right: 65px;
    padding-left: 65px;
    @media (max-width: 576px) {
      display: block;
      max-width: fit-content;
      margin: 30px auto;
    }
  }
}

// Clients section

.clients {
  padding-bottom: 180px;
  @media (max-width: 992px) {
    padding-bottom: 100px;
  }
  @media (max-width: 576px) {
    padding-bottom: 40px;
  }
  // .clients__title

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: var(--darkColor);
    @media (max-width: 992px) {
      font-size: 26px;
      line-height: 36px;
    }
    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  // .clients__wrap

  &__wrap {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 40px;
    align-items: center;
    @media (max-width: 1500px) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
    }
  }

  // .clients__item

  &__item {
    justify-self: center;
  }
}

// Helping section

.helping {
  padding-bottom: 90px;
  @media (max-width: 576px) {
    padding-bottom: 40px;
  }
  // .helping__title

  &__title {}

  // .helping__wrap

  &__wrap {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    @media (max-width: 1200px) {
      justify-content: center;
      column-gap: 40px;
    }
    @media (max-width: 576px) {
      row-gap: 30px;
    }
  }

  // .helping__item

  &__item {
    max-width: calc(100% / 3 - 25px);
    padding: 45px 24px;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background: var(--lightColor);
      border: 1px solid rgba(239, 239, 239, 0.6);
      box-shadow: 0px 30px 30px rgba(99, 122, 166, 0.1);
    }
    @media (max-width: 1200px) {
      max-width: calc(100% / 2 - 25px);
    }
    @media (max-width: 992px) {
      background: var(--lightColor);
      border: 1px solid rgba(239, 239, 239, 0.6);
      box-shadow: 0px 30px 30px rgba(99, 122, 166, 0.1);

    }
    @media (max-width: 768px) {
      max-width: 544px;
      padding: 30px 15px;
    }
  }

  // .helping__img

  &__img {
    width: 100px;
    height: 100px;
    background: #ECECEC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @media (max-width: 576px) {
      width: 70px;
      height: 70px;
      img {
        max-width: 50%;
      }
    }
  }

  // .helping__name

  &__name {
    margin-top: 65px;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: var(--darkColor);
    @media (max-width: 1200px) {
      margin-top: 40px;
    }
    @media (max-width: 576px) {
      font-size: 24px;
    }
  }

  // .helping__descr

  &__descr {
    margin-top: 15px;
    line-height: 160%;
    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
}


// Section Why Choose Business Evalutation Services?

.why {
  position: relative;
  padding-top: 90px;
  //padding-bottom: 220px;
  @media (max-width: 992px) {
    padding-top: 0;
    padding-bottom: 100px;
  }
  @media (max-width: 768px) {
    padding-bottom: 70px;
  }
  @media (max-width: 576px) {
    padding-bottom: 40px;
  }
  // .why__title

  &__title {
    max-width: 995px;
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  // .why__accordion

  &__accordion {
    margin-top: 40px;
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  .accordion {
    max-width: 800px;
    @media (max-width: 1400px) {
      max-width: 680px;
    }
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }
  .accordion-item {
    border: none;
    outline: none;
  }
  .accordion-header {

  }
  .accordion-button {
    background: transparent ;
    box-shadow: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 0;
    color: #2D2D2D;
    border-bottom: 2px solid rgba(174, 174, 174, 0.4);
    position: relative;
    &:not(.collapsed) {
      color: var(--secondary);
      border-bottom: none;
      &::before {
        width: 0;
        height: 0;
      }
      &:after {
        background-color: var(--secondary);
      }
    }
    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -25px;
      background-image: none;
      width: 28px;
      height: 3px;
      background-color: var(--darkColor);
      bottom: 100px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      @media (max-width: 992px) {
        right: 0;
        width: 18px;
      }
      @media (max-width: 576px) {
        height: 2px;
        width: 14px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -12px;
      background-image: none;
      width: 3px;
      height: 28px;
      background-color: var(--darkColor);
      bottom: 100px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      @media (max-width: 992px) {
        right: 8px;
        height: 18px;
      }
      @media (max-width: 576px) {
        height: 14px;
        width: 2px;
        right: 6px;
      }
    }
    @media (max-width: 992px) {
      font-size: 22px;
      padding-right: 40px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
      padding-right: 30px;
    }
  }
  .accordion-collapse {

  }
  .collapse {


  }
  .show {

  }
  .accordion-body {
    background: var(--lightColor);
    border: 1px solid rgba(239, 239, 239, 0.6);
    box-shadow: 0px 30px 30px rgba(99, 122, 166, 0.1);
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 20px;
    @media (max-width: 992px) {
      font-size: 19px;
    }
    @media (max-width: 576px) {
      font-size: 17px;
      margin-top: 10px;
    }
    &.show {
      outline: 10px solid red;
    }
  }
  .collapsed {

  }

  // .why__image

  &__image {
    position: absolute;
    right: 0;
    top: 60px;
    z-index: -1;
    @media (max-width: 1800px) {
      max-width: 50%;
    }
    @media (max-width: 1700px) {
      top: 170px;
    }
    @media (max-width: 1600px) {
      max-width: 40%;
    }
    @media (max-width: 1200px) {
      max-width: 30%;
    }
    @media (max-width: 992px) {
      position: static;
      max-width: 70%;
      margin: 0 auto;
      display: block;
    }
  }
}








